body, nav, a, div, p {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}
nav {
    display: block;
    background: black;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav a {
    font-size: 1em;
    line-height: 1em;
    display: inline-block;
    margin: 1em;
    color: white;
    border: 0;
    text-decoration: none;
}
.text {
    font-size: 3em;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    background: black;
}
#source {
    display: none;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.typing-cursor, .typing-cursor-black, .typing-cursor-white {
    opacity: 1;
    font-weight: bold;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.typing-cursor, .typing-cursor-black {
    color: #000;
}
.typing-cursor-white {
    color: #fff;
}
#output-wrap {
    padding: 20px;
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-align: left;
}
var {
    color: #f2ea0e;
}
o {
    color: orange;
}
na {
    color: rgb(249, 138, 162);
}
func {
    color: rgb(87, 154, 198);
}
pa {
    color: rgb(190, 226, 242);
}